@import url(__iframe/video__iframe.css);
@import url(__iframes/video__iframes.css);
@import url(__section-title/video__section-title.css);
@import url(__section-subtitle/video__section-subtitle.css);

.video {
    width: 1100px;
    margin-right: auto;
    margin-left: auto;

}